@using SystemDefaultsAPI.Models;
@model LabelFieldModel
<div class="dm-control">
	<div class="row ebiz-@Model.FieldName">
		<div class="medium-3 columns ebiz-left">
			@Html.Label(Model.FieldName,Model.DisplayName, new { Class = "dm-field" })
		</div>

		<div class="medium-8 columns">
			@Html.Label(Model.CurrentValue)
		</div>
		<div class="medium-1 columns">
			@{
				string visibility = (Model.Description != String.Empty ? "visible" : "hidden");
			}
			<i class="fa fa-info-circle" style='visibility: @visibility' onclick='showDescription("@Model.Description");'></i>
			&nbsp;
			@{
				visibility = (Model.AllowedPlaceHolders != String.Empty ? "visible" : "hidden");
			}
			<i class="fa fa-code" style='visibility: @visibility' onclick='showPlaceHolders("@Model.AllowedPlaceHolders");'></i>
		</div>
	</div>
	@Html.Hidden(Model.MetaDataId, Model.Data)
	@Html.Hidden(Model.CurrentValueId, Model.HashedCurrentValue)
</div>